/home
/repository
/software
/temp
/*.lnk
/00_codebase/multiplicative-digital-root/src/Main.java
/00_codebase/multiplicative-digital-root/Multiplicative_digital_root.pdf
/01_docbase/09_architecture
01_docbase/00_thesis/~$_thesis.docx
01_docbase/02_announcement/~$sbarkeitsanalyse_von_technischen_Dokumenten.docx